body {
    font-family: Arial;
    padding: 40px;
}

input, button {
    padding: 10px;
    margin: 8px 0;
    width: 250px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

